@{
    ViewBag.Title = "Руководство пользователя";
}

<h2>
    Руководство пользователя</h2>

    <p>
    Программа представляет собой интерфейс для работы с архивом Геолфонда. Интерфейс включает в себя два режима работы – «Пользователь» и «Администратор». Пользователю доступен только базовый функционал для работы, который включает в себя генерацию выборки и отчет по необходимой выборке. Так же пользователь может задавать вид отображения в таблице и пункты, необходимые для формирования отчета. Возможности Администратора значительно выше. Режим Администратора позволяет управлять базой. Помимо функционала Пользователя, Администратор может добавлять, удалять и редактировать записи в базе.
</p>
   <p>
    При загрузке программа по умолчанию открывает интерфейс простого пользователя. В режиме простого пользователя ограничены возможности. Простой пользователь может делать выборку из базы, изменять отображение в таблице и генерировать отчеты по получившейся выборке. Изначально в таблице отображается вся информация, присутствующая в базе. Слева находится панель, которая позволяет сделать выборку по необходимым параметрам. Внешний вид панели и критерии запроса приведен ниже.
    Для генерации запроса пользователю необходимо установить галочку у необходимого критерия. Установка галочки в положение «включена» сделает соответствующее поле доступным для редактирования и автоматически включит параметр в формирующийся запрос.
    Для формирования выборки доступны следующие параметры:
    •	Номер – Инвентарный номер отчета
    •	Рубрика – Выбор из списка значения рубрики
    •	Автор – Фамилия автора
    •	Название – Название отчета.
    •	Организация – название организации, проводившей работу.
    •	Город – Населенный пункт организации, проводившей работу.
    •	Год – Год издания. Возможна выборка по году и в промежутке лет
    •	Ключевые слова – Выборка по ключевым словам.
    •	Исключения – Ключевые слова исключения.
    •	Реферат – Текст реферата.
    •	Место – место хранения отчета.
</p>
<p>
    Все данные, кроме параметров – Рубрика, Ключевые слова и Исключения, вводимые в поля запроса, подчиняются простой логике. Пользователь должен просто ввести текст, или часть текста, который должен жестко встречаться в соответствующем поле в базе данных.
    Например, если ввести в параметр «Название» текст «геолог» как результат программа выдаст результат, где в колонке «Название» будут слова «ГЕОЛОГ», «ГЕОЛОГический», «ГЕОЛОГия» и т.д. Таким образом, надо подбирать параметр запроса под ту выборку, которая вам необходима. Следует отметить, что если вы хотите получить конкретную запись, вы должны вводить более четкие, точные и развернутые параметры запроса.
    Теперь рассмотрим поля, имеющие иную логику.
    «Рубрика». Поле «Рубрика» представляет собой выпадающий список перечисления значений поля. Вам необходимо выбрать одно из значений при запросе вы получите как результат все записи, которые находятся в этой рубрике. Рубрика может быть как основной, так и вспомогательной.
    Теперь поговорим о выборке по ключевым словам. За выборку по ключевым словам отвечают 2 параметра поиска – «Ключевые слова» и «Исключения». Теперь поговорим о построении запроса. Параметр «Ключевые слова» имеет 3 переключателя «И», «ИЛИ» и «Сложный». Это обусловлено логикой выборки, которую хочет установить пользователь.
    Логика при том или ином положении переключателе подчиняется простым законам математической логике.
    Переключатель «И»
    Логика положения переключателя в положение «И» проста. Запрос строится на пересечении множеств ключевых слов, разделенных запятой. То есть, как результат запроса получатся все записи, где присутствуют все перечисленные ключевые слова.
    Для более простого понимая можно прочитать сформированный запрос таким образом: «Выбрать все записи, где ключевые слова включают в себя (ключевое слово 1) И (ключевое слово 2) И (ключевое слово 3) И …»
    Пример. Если написать в ключевых словах «ЗОЛОТО, СЕРЕБРО, МЕДЬ» то в результате отобразятся все записи, где в ключевых словах присутствуют все три  ключевых слова.
    Переключатель «ИЛИ»
    В свою очередь логика переключателя «ИЛИ» очень похожа на логику переключателя «И». Запрос строится на объединении множеств ключевых слов, разделенных запятой. Результатом запроса будут записи, в которых присутствует хотя бы одно из перечисленных ключевых слов. Проводя аналогию с переключателем «И» запрос, сформированный с переключателем «ИЛИ» можно прочитать таким образом – «Выбрать все записи где ключевые слова включают в себя (ключевое слово 1) ИЛИ (ключевое слово 2) ИЛИ (ключевое слово 3) ИЛИ …»
    Пример. Если написать в ключевых словах «ЗОЛОТО, СЕРЕБРО, МЕДЬ» то в результате отобразятся все записи, где в ключевых словах присутствует хотя бы одно из перечисленных ключевых слов. Например, будут записи где есть только «ЗОЛОТО», где только «СЕРЕБРО», а так же любые их комбинации (например, где будут присутствовать «ЗОЛОТО» и «МЕДЬ»)
    Переключатель «Сложный»
    Переключатель «Сложный» служит для генерации сложного запроса по ключевым словам и позволяет определить логику операций «И» и «ИЛИ» самим пользователем. При положении переключателей  в положение «Сложный» в поле параметра запроса необходимо ввести необходимую комбинацию ключевых слов. При построении комбинации разрешено использовать следующие спецсимволы: |, &, (, ), где «|» имеет логический смысл операции ИЛИ, а «&» - И. Скобки необходимы для группировки подзапроса.
    Например, если нам необходимо получить выборку записей, где необходимо найти следующие значения:
    Золото и Подсчет запасов Либо в Кызылалме или Самарчук
    Будет выглядить так:
    ( кызылалма | самарчук ) & золото & подсчет
</p>
    

    <h4>
        Форма «Повторяющиеся записи»
    </h4>
<p>
    Форма при открытии отображает все дуплетные записи (с одинаковым номером). Далее есть возможность отредактировать или удалить дуплетные записи. Удаление происходит следующим образом – необходимо поставить галочки на всех записях, которые желаете удалить. Помните, что одна из записей должна быть оставлена. Далее следует нажать кнопку «Удалить выбранные». После чего записи будут удалены. Если требуется отредактировать запись, то необходимо выбрать ее в таблице и нажать кнопку «Редактировать». Откроется стандартное окно редактирование, в котором необходимо внести соответствующие изменения (изменить номер, авторов и т.д.).

</p>
